@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Welcome to Ben Morey's Portfolio</h1>
    <br />
    <div class="row ">
        <div class="col text-start px-auto">
            
            <h2>Description of hobby:</h2>
            <p>
                When I was 14 years old, I decided I would become<br />
                <b>a great artist</b>. I used traditional and digital mediums<br />
                for my art. If I was to work traditionally, I would aim<br />
                to use guache for smaller pieces and acrylics for<br />
                anything larger.
            </p>

            <h2>Background:</h2>
            <ul>
                <h6>Born:</h6> Summit, New Jersey USA
            </ul>
            <ul>
                <h6>Graduated Highschool:</h6> Westford Academy, Massachusetts USA
            </ul>
            <ul>
                <h6>Undergraduate Degree:</h6> Brigham Young University, Utah USA<br />
                <i>BS Information Systems Management</i>

            </ul>
        </div>
        <div class="col text-start px-auto">
            <h2>Final Pieces:</h2>
            <img src="~/images/The Descent of Kishkumen - David Benjamin Morey Jr.png" width="70%" />
            <i><br />The Descent of Kishkumen, 2023</i>
            <br />
            <img src="~/images/Untitled-1.png" width="70%" />
            <i><br />Untitled, 2022</i>
        </div>
        <div class="col text-start px-auto">
            <h2>Sketchbook:</h2>
            <img src="~/images/carmy study.png" width="100%"/>
            <i><br />Carmy Study, 2023</i>
            <img src="~/images/knight woman study.png" width="100%" />
            <i><br />Knight Woman Study, 2023</i>
            <img src="~/images/andy-warhol-study.png" width="100%" />
            <i><br />Andy Warhol Study, 2023</i>
        </div>
    </div>
    
</div>
